data/
src/cds_fold/
.snakemake/
src/raisd-master/
test.vcf.gz
test.vcf.gz.tbi
test.vcf.stats
test_plot/
.ipynb_checkpoints/
src/ngsRelate
src/htslib
src/hal
src/sonLib
src/msdir/
slurm_log/
figures/
src/ibdseq.r1206.jar
