.nextflow*
src/mushi-0.2.0/
src/v0.2.0.tar.gz
fe_and_alpha_slim/.nextflow*
dfe_and_alpha_slim/work
freqs_test.txt
data/
src/cds_fold/
.snakemake/
src/raisd-master/
test.vcf.gz
test.vcf.gz.tbi
test.vcf.stats
test_plot/
.preds
.ipynb_checkpoints/
src/ngsRelate
src/htslib
src/hal
src/sonLib
src/msdir/
slurm_log/
figures/
src/ibdseq.r1206.jar
src/pcangsd/
snakemakes/
playground/
src/diploSHIC/
src/discoal/
src/treemix/
notebooks/bgs_bestfit.rds
notebooks/bgs_fullfit.rds
notebooks/bgs_bestfit_mu-7.rds
notebooks/bgs_bestfit_mu-8.rds
notebooks/RAiSD_Info.SUBSAMPLE
notebooks/RAiSD_Report.SUBSAMPLE.chr6
notebooks/RAiSD_Report.SUBSAMPLE.chr6.corrected
review_response_analyses/raisd_search/merged/*
review_response_analyses/raisd_search/mushi/*
review_response_analyses/raisd_search/overlaps/*
review_response_analyses/raisd_search/slurm_log/*
review_response_analyses/raisd_search/snp_window/*
review_response_analyses/sim_sweep_accuracy/vanilla_discoal/output/bed/*
review_response_analyses/sim_sweep_accuracy/vanilla_discoal/output/discoal/*
review_response_analyses/sim_sweep_accuracy/vanilla_discoal/output/raisd/*
review_response_analyses/sim_sweep_accuracy/old_ignore/*
data/sweep_regions/


