.nextflow*
dfe_and_alpha_slim/.nextflow*
dfe_and_alpha_slim/work
freqs_test.txt
data/
src/cds_fold/
.snakemake/
src/raisd-master/
test.vcf.gz
test.vcf.gz.tbi
test.vcf.stats
test_plot/
.ipynb_checkpoints/
src/ngsRelate
src/htslib
src/hal
src/sonLib
src/msdir/
slurm_log/
figures/
src/ibdseq.r1206.jar
src/pcangsd/
snakemakes/
playground/
src/diploSHIC/
src/discoal/
notebooks/bgs_bestfit.rds
notebooks/bgs_fullfit.rds
notebooks/bgs_bestfit_mu-7.rds
notebooks/bgs_bestfit_mu-8.rds
notebooks/RAiSD_Info.SUBSAMPLE
notebooks/RAiSD_Report.SUBSAMPLE.chr6
notebooks/RAiSD_Report.SUBSAMPLE.chr6.corrected
